@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --width-sidebar-context: 360px;
  --width-container-main: 1016px;
  --min-width-app: 320px;
  --height-navbar: 64px;
  --height-top-banner: 32px;

  --radius: 0.625rem;
  --background: oklch(0.97 0.0054 274.97);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  --color-light: oklch(0.99 0 0);
  --color-brand: oklch(0.27 0.0543 254.01);
  --color-dark-600: oklch(0.27 0.0538 254.92);
  --color-dark-400: oklch(0.37 0.0731 255.26);
  --color-dark-300: oklch(0.45 0.1365 263.63);
  --color-dark-500: oklch(0.3 0.0646 254.91);
  --color-grey-pure: oklch(0.75 0.0371 271.43);
  --color-grey-light: oklch(0.94 0.0087 264.52);
  --color-ocean-blue-light: oklch(0.96 0.0195 270.21);
  --color-ocean-blue-pure: oklch(0.6 0.2136 264.61);
  --color-ocean-blue-pale: oklch(0.6 0.2136 264.61);
  --color-ocean-blue-deep: oklch(0.57 0.2305 263.95);
  --color-turquese-pure: oklch(0.73 0.1147 198.56);
  --color-navi-pure: oklch(0.25 0.0663 267.84);
  --color-purple-pure: oklch(0.45 0.1489 286.42);
  --color-passion-orange-light: oklch(0.96 0.0219 58.79);
  --color-passion-orange-pure: oklch(0.7 0.204259 43.491);
  --color-green-pure: oklch(0.72 0.2021 145.47);
  --color-avo-green: oklch(0.64 0.1584 154.27);
  --color-green-light: oklch(0.97 0.0216 149.72);
  --color-yellow-pure: oklch(0.83 0.1625 88.2);
  --color-yellow-light: oklch(0.95 0.2025 107.88);
  --container-container-main: 1016px;
  --container-navbar: var(--height-navbar);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .form-input {
    @apply border-grey-light appearance-none rounded-sm border-1 bg-white px-3 py-2 text-xs leading-3.5 font-medium outline-none focus:border-cyan-500 focus:shadow-cyan-500/40 focus:shadow-sm dark:text-black;
  }
}

body,
html {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  font-family: Montserrat, sans;
}

.scrollbar-hover {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-hover:hover {
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.dark .scrollbar-hover:hover {
  scrollbar-color: #2c50a0 transparent;
}

.scrollbar-hover::-webkit-scrollbar,
.scrollbar-hover::-webkit-scrollbar-thumb {
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background-clip: padding-box;
  color: transparent;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.scrollbar-hover:hover::-webkit-scrollbar,
.scrollbar-hover:hover::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar-thumb {
  color: rgba(0, 0, 0, 0.3);
}

.dark .scrollbar-hover:hover::-webkit-scrollbar,
.dark .scrollbar-hover:hover::-webkit-scrollbar-thumb,
.dark .scrollbar::-webkit-scrollbar,
.dark .scrollbar::-webkit-scrollbar-thumb {
  --tw-text-opacity: 1;
  color: rgb(44 80 160 / var(--tw-text-opacity));
}

.scrollbar-hidden {
  scrollbar-width: none;
}

#WEB3_CONNECT_MODAL_ID {
  z-index: 89;
}

@media (min-width: 640px) {
  :root {
    --height-navbar: 82px;
  }
}

.grid[data-v-ead27774] {
  grid-template-columns: auto;
  grid-template-rows: var(--height-navbar) calc(100vh - var(--height-navbar));
  grid-template-areas: 'navbar' 'main';
}

.grid.has-top-banner[data-v-ead27774] {
  grid-template-columns: auto;
  grid-template-rows: var(--height-top-banner) var(--height-navbar) auto;
  grid-template-areas: 'top-banner' 'navbar' 'main';
}

.grid-top-banner[data-v-ead27774] {
  grid-area: top-banner;
}

.grid-navbar[data-v-ead27774] {
  grid-area: navbar;
}

.grid-main[data-v-ead27774],
.grid-sidebar-nav[data-v-ead27774] {
  grid-area: main;
}

.grid-sidebar-context[data-v-ead27774] {
  grid-row-start: navbar;
  grid-row-end: main;
}

@media (min-width: 1244px) {
  .grid[data-v-ead27774] {
    grid-template-rows: 100vh;
    grid-template-areas: 'sidebar-nav main sidebar-context';
  }

  .grid[data-v-ead27774],
  .grid.has-top-banner[data-v-ead27774] {
    grid-template-columns: -webkit-min-content auto 360px;
    grid-template-columns: min-content auto 360px;
  }

  .grid.has-top-banner[data-v-ead27774] {
    grid-template-rows: var(--height-top-banner) calc(100vh - var(--height-top-banner));
    grid-template-areas: 'top-banner top-banner top-banner' 'sidebar-nav main sidebar-context';
  }

  .grid-sidebar-nav[data-v-ead27774] {
    grid-area: sidebar-nav;
  }

  .grid-sidebar-context[data-v-ead27774] {
    grid-area: sidebar-context;
  }
}
